Copyright 2020 Andrew M. Olney and made available under [CC BY-SA](https://creativecommons.org/licenses/by-sa/4.0) for text and [Apache-2.0](http://www.apache.org/licenses/LICENSE-2.0) for code.

## Background

We will be working with data on graduate school admissions. The data has four variables:

- `admit`: the admittance status (0=not admitted, 1=admitted)
- `gre`: the student's GRE score
- `gpa`: the student's GPA
- `rank`: rank of the student's undergraduate institution (1=highest to 4=lowest prestige)

In this session, you will solve several problems using this data.

### Read CSV into a dataframe

Import the `pandas` library, which lets us work with dataframes.

Load a dataframe with the data in `datasets/binary.csv` and display it

### Select rows from a dataframe by position

Show the 3rd row to the final row (total 398 rows).

### Select columns from a dataframe by name

Show the last two columns of the data.

### Select rows from a dataframe by value

Show the rows where `gpa` is less than 3.

<!--  -->