Copyright 2020 Andrew M. Olney and made available under [CC BY-SA](https://creativecommons.org/licenses/by-sa/4.0) for text and [Apache-2.0](http://www.apache.org/licenses/LICENSE-2.0) for code.

## Background

We will be working with data on passengers on the Titanic. The data has eight variables:

- `Survived`: did the passenger survive (0=no, 1=yes)
- `Pclass`: ticket class (1=1st, 2=2nd, 3=3rd)
- `Name`: name of passenger
- `Sex` : sex of passenger
- `Age` : age of passenger
- `Siblings/Spouses Aboard` : number of siblings or spouses aboard
- `Parents/Children Aboard` : number of parents or children aboard
- `Fare` : fare paid in dollars

In this session, you will solve several problems using this data.

### Read CSV into a dataframe

Import the `pandas` library, which lets us work with dataframes.

Load a dataframe with the data in "datasets/titanic.csv" and display it

### Select rows from a dataframe by position

Show the 4th row to the 885th row (total 882 rows).

### Select columns from a dataframe by name

Show the last column and the first column of the data, in that order.

### Select rows from a dataframe by value

Show the rows where `Sex` is female.

<!--  -->